
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- GransLive Logo -->
            <div class="navbar-header">
                <a class="navbar-brand no-underline" href="#/"><img src="http://www.granslive.com/images/granslive.png" width="180px"/></a>
            </div>
            <div class="float-right">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servicess<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a ng-href="#/home">Live Streaming</a></li>
                      <li><a href="#/home">Home Automation</a></li>
                    </ul>
                  </li>
                    <li><a href="https://developer.ibm.com/watson/" target="_blank" >Cognitive Computing</a></li>
                </ul>
            </div>
            <!-- .navbar right-->
        </div>
        <!-- .container -->
    </nav>
    <!-- .navbar -->
