
<div id="sticky-menu" class="clearfix">

	<div class="container clearfix" >
	
		<div class="sticky-logo">
	
			<!-- <a href="/#!"><img src="/../images/granslive.png"
				alt="GransLive" title="GransLive" width="280px" height="30px" /></a> -->
			<a href="/#!/" class="standard-logo stip" title="Hukam" >Hukam</a>
	
		</div>
	
		<div class="sticky-search-trigger">
	
			<a href=""><i class="icon-search"></i></a>
	
		</div>
	
		<div class="sticky-menu-wrap">
	
			<ul>
	
				<li><a href="tel:+919643989377"><i
						class="icon-phone"></i> +91 9643 9893 77</a></li>
				<li><a href="mailto:contact@hukam.in"><i
						class="icon-envelope-alt"></i> contact@hukam.in</a></li>
			</ul>
	
		</div>
	
		<div class="sticky-search-area">
	
			<form id="sticky-search" action="search-results.html" method="get">
	
				<input type="text" id="sticky-search-input" name="q"
					placeholder="Search for Channels &amp; Events" value="" />
	
			</form>
	
			<div class="sticky-search-area-close">
	
				<a href=""><i class="icon-remove"></i></a>
	
			</div>
	
		</div>
	
	</div>

</div>