
<div data-ng-init="initProducts();">

	<div>
		<div class="col-sm-8">
			<h3 data-ng-if="boards.length == 0">There are no boards found</h3>
			<h3 data-ng-if="boards.length > 0">Boards in Production</h3>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary"
					data-ng-click="showAddNewBoardPanel();" data-toggle="tooltip"
					data-placement="bottom" title="Add New Board">
					<span class="fa fa-plus"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="panel panel-default"
		data-ng-if="display == 'saveBoardPanel'">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#boardPanel">Add/Update Board</a>
			</h4>
		</div>

		<div id="boardPanel" class="panel-collapse collapse in">

			<div class="panel-body">
				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Title:</label>
						<div class="col-lg-4">
							<input type="text" class="form-control"
								data-ng-model="selectedBoard.title">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Description:</label>
						<div class="col-lg-4">
							<textarea class="form-control"
								data-ng-model="selectedBoard.description"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" data-ng-click="saveBoard();"
								data-ng-if="!selectedBoard.id">Create</button>
							<button type="submit" data-ng-click="saveBoard();"
								data-ng-if="selectedBoard.id">Update</button>
							<button type="submit" data-ng-click="fetchAndShowBoards();">cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<div style="clear: both;"></div>

	<div class="container" class="row" data-ng-if="display == 'boards'" >
		<div data-ng-repeat="board in boards">
			{{board.uniqueIdentifier}} - {{board.title}} - ({{board.type}})
			<div class="clearfix"></div>
			<div style="clear: both;"></div>
			<br />
		</div>

	</div>

</div>